@font-face {
    font-family: 'adams_handregular';
    src: url('css/webfonts/adamhand-webfont.woff2') format('woff2'),
         url('css/webfonts/adamhand-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ============================================================== */
/* General Styles */

body {
	background-image: url('img/bg.jpg');
	background-attachment: fixed;
	background-position: bottom center;
	background-repeat: repeat-x;
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
	}

.ad {
	display: block;
	background-color: #ffff99;
	border: 1px solid #999966;
	}
	
.leaderboard {
	width: 728px;
	height: 90px;
	}
	
.medium-rectangle {
	width: 300px;
	height: 250px;
}

.row {

}


/* ============================================================== */
/* Mobile First Styles */

.desktop { display: none; }

.wrap {
	min-width: 320px;
}

/* ===== Header ===== */

header.page {
	width: 100%;
	position: relative;
	z-index: 10;
	margin-bottom: 40px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #d0ffff 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#d0ffff 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#d0ffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0ffff',GradientType=0 );
}

#logo {
	top: 2px;
	left: 4px;
	position: absolute;
	z-index: 2;
	width: 198px;
}

#logo:active {
	top: 3px;
	left: 5px;
	opacity: .95;
}

#logo .mark {
	display: block;
	position: absolute;
	left: -54px;
}

#logo .wordmark {
	padding-left: 72px;
}

nav.page {
	background-color: #336699;
	min-height: 50px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	position: relative;
}

/* ===== Navigation ===== */

.menu-btn {
	width: 50px;
	height: 50px;
	display :block;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url('img/sprite-icons.png');
	background-size: 250px;
	background-position: 0 0;
	background-repeat: no-repeat;
}

.menu-btn:active {
	background-color: #19334e;
}

header.page nav .inner-wrap {
	background-color: #19334e;
	display: block;
	position: relative;
	top: 50px;

}

nav.page .inner-wrap {
	margin-bottom: 50px;
}

nav.page .main {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav.page .main li {
	text-align: right;
} 

nav.page .main li a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.25em;
	line-height: 16px;
	color: #fff;
	text-decoration: none;
	display: block;
	height: 46px;
	margin-top: 2px;
	text-align: right;
	padding: 15px 20px;
	box-sizing: border-box;
	letter-spacing: -0.25px;
}

nav.page .main li a:active,
.social li a:active  {
	background-color: #274e76;
}

/* ===== Social ===== */

nav.page .social {
	padding: 10px 20px;
	margin: 0;
	list-style: none;
	float: right;
}

.social li {
	float: left;
	margin: 0 0 0 12px; 
}

.social li a {
	display: block;
	width: 44px;
	height: 44px;
	background-image: url('img/sprite-icons.png');
	background-size: 250px;
}

.social li a.fb  { background-position: -48px 2px; }
.social li a.tt  { background-position: -88px 2px; }
.social li a.ig  { background-position: -128px 2px; }
.social li a.tw  { background-position: -168px 2px; }
.social li a.rss { background-position: -208px 2px; }

.social li.follow {
	width: 100%;
	text-align: center;
	margin-left: 0;
}

.social li.follow + li {
	margin-left: 0;
}

/* ===== Footer ===== */

footer nav.page {
	height: auto;
}

footer nav.page .inner-wrap {
	margin-top: 0px;
	padding: 0;
	background-color: #336699;
	margin-bottom: 0;
}

.copyr {
	list-style: none;
	padding: 20px 0;
	margin: 0;
	text-align: center; 
	background-color: #19334e;
	font-size: .875em;
	color: #336699;
}

.copyr a {
	color: #336699;
}

.copyr li {
	display: inline-block;
	padding: 0 8px 0 9px;
	border-left: 1px solid #336699;
}

.copyr li:first-child {
	border-left: none;
	padding-left: 0;
}

footer nav.page .social {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	float: none;
}

footer nav.page .social li {
	float: none;
	display: inline-block;
	margin-left: 8px;
}

/* ===== Comic Nav ===== */

.content {
	background-color: #fff;
	border-radius: 34px;
	margin-bottom: 40px;
}

.comic .top.row {
	height: 46px;
}

.comic .bottom.row {
	padding: 40px 0;
}

.comic nav ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
	position: relative;
	top: -14px;
	font-family: 'Montserrat', sans-serif;
}

.comic nav.bottom ul {
	top: auto;
	bottom: 0px;
	position: relative;
}

.comic nav ul li {
	display: inline-block;
	margin-left: 10px;
}

.comic nav ul li.text {
	display: block;
	width: 310px;
	margin: 4px auto 0;
	background-color: #ed5c22;
	border-radius: 14px;
}

.comic nav ul li.text > a {
	display: block;
	
	color: #fff;
	padding: 13px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.25em;
	
}

.comic nav.bottom li.share {
	margin-top: 4px;
}


.comic nav ul li:first-child {
	margin-left: 0;
}

.comic nav ul li > a.btn,
.comic nav ul li > span { 
	display: block;
	width: 54px;
	height: 54px;
	background-color: #ed5c22;
	border-radius: 27px;
	background-image: url('img/sprite-icons.png');
	background-size: 400px;
}

.comic nav ul li > .inactive {
    background-color: #aaa;
}

.comic nav ul li .first  { background-position: -150px -70px; }
.comic nav ul li .prev   { background-position: -86px  -70px; }
.comic nav ul li .next   { background-position: -212px -70px; }
.comic nav ul li .last   { background-position: -274px -70px; }
.comic nav ul li .random { background-position: -340px -70px ; }

.comic nav ul li a:active {
	position: relative;
	top: 1px;
	left: 1px;
}


/* ===== Comic Share ===== */

.comic .share { transition: background-color .5s ease; }
.comic .share.active { background-color: #5d2711; }
.comic .share.active .btns { display: block; }
.comic .share.active .btns li { background-color: #ed5c22; }

.comic .share .btns {
	display: none;
	line-height: 1em;
	padding-bottom:20px;
}

.comic .share .btns li {
	margin-left: 3px;
	line-height: 1em;
	background-color: #d04f1b;
	border-radius: 23px;
}

.comic .share .btns li:first-child {
	margin-left: 0;
}

.comic .share .btns a {
	display: inline-block;
	background-image: url('img/sprite-icons.png');
	width: 46px;
	height: 46px;
	background-size: 300px;
}

.share a.tm  { background-position: -62px -96px;  }
.share a.tt  { background-position: -110px -2px;   }
.share a.fb  { background-position: -62px -2px; 	 }
.share a.pi  { background-position: -110px -96px; }
.share a.rd  { background-position: -157px -96px; }
.share a.em  { background-position: -205px -96px; }

/* ===== Comic Display ===== */

.comic .display {
	padding: 0px;
}

.comic .display img {
	display: block;
	margin: 0 auto;
}

/* ===== Blogroll ===== */

h1, h2, h3, h4, h5, h6 {
	font-family: 'adams_handregular', sans-serif;
	text-transform: uppercase;
}

.content.row {

}

.main-col {
	padding: 40px;
}

.main-col article {
	font-size: 1.375em;
	line-height: 1.75em;
	word-wrap: break-word;
}
	
.main-col article h1.title {
    margin-top: 0;
	font-size: 2em;
	line-height: 1.4em;
}
    
.blogroll article h1.title {
	margin: 0 0 .75em;
}

.main-col article .subtitle {
    display: block;
    margin-bottom: 15px;
	font-family: 'Montserrat', sans-serif;
	color: #bbb;
	font-size: 1em;
}

/* ===== Sidebar ===== */

aside {
	display: block;
	background-color: #336699;
	padding: 10px;
	text-align: center;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.375em;
	border-radius:  0 0 34px 34px;
}

aside > div {
	margin: 0 auto;
}




/* ============================================================== */
/* Tablet Styles */

@media only screen and (min-width: 480px)  {
	
#logo {
	width: 250px;
}

#logo:active {
	top: 3px;
	left: 5px;
	opacity: .95;
}

#logo .mark {
	display: block;
	position: absolute;
	left: -64px;
}

#logo .wordmark {
	padding-left: 94px;
}
	
}



/* ============================================================== */
/* Desktop Styles */

@media only screen and (min-width: 1120px)  {
	.mobile { display: none; }
	.desktop { display: block; }

	/* ===== Header Classes ===== */

	header.page {
		padding-top: 10px;
		margin-bottom: 60px;
		box-shadow: 0px 20px 80px rgba(255,255,255,1);
	}
	
	header.page .top {
		display: block;
		width: 1100px;
		margin: 0 auto;
		position: relative;
	}

	#logo {
		top: -1px;
		width: auto;
		left: 0;
	}
	
	#logo:active {
		top: 1px;
		left: 2px;
		opacity: 1;
	}
	

	#logo .mark {
		left: 0;
	}
	
	#logo .wordmark {
		padding-top: 82px;
		padding-bottom: 2px;
		padding-left: 0;
	}
	
	.leaderboard {
		float: right;
		margin-bottom: 10px;
	}
	
	/* ===== Navigation ===== */
	
	header.page nav .inner-wrap {
		background-color: transparent;
		top: 0;
		padding-left: 380px;
		box-sizing: border-box;
	}
	
	nav.page .inner-wrap {
		width: 1100px;
		display: block;
		margin: 0 auto;
	}

	nav.page .main li {
		float: left;
	}

	nav.page .main li a {
		padding: 15px 18px;
		border-radius: 0px;
		font-size: 1.063em;
	}
	
	nav.page .social {
		padding-right: 0;
		padding-left: 0;
		position: absolute;
		right: 0;
		top: -1px;
	}
	
	/* ===== Social ===== */
	
	.social li { margin-left: 4px;}
	
	.social li a {
		width: 30px;
		height: 30px;
		border: 2px solid #fff;
		background-size: 150px;
		border-radius: 20px;
	}
	
	.social li a.fb  { background-color: #4d67a1; background-position: -27px 3px;  }
	.social li a.tt  { background-color: #26a4dc; background-position: -51px 3px; }
	.social li a.ig  { background-color: #407297; background-position: -75px 3px; }
	.social li a.tw  { background-color: #6644a6; background-position: -99px 4px; }
	.social li a.rss { background-color: #f8991d; background-position: -123px 3px; }
	
	.social li a:active {
		position: relative;
		top: 1px;
		left: 1px;
	}
	
	/* ===== Footer ===== */
	
	.social li.follow {
		width: auto;
		height: auto;
		line-height: 34px;
		margin-right: 8px;
	}
	
	.social li.follow + li {
		margin-left: 16px;
	}
	
	footer nav.page {
		height: auto;
	}
	
	footer nav.page .social {
		width: auto;
		float: right;
		position: relative;
		top: 0;
		right: 0;
		padding: 13px 0;
	}
	
	footer nav.page .social li {
		float: left;
		display: block;
		margin-left: 4px;
	}

	.copyr {
		background-color: transparent;
		color: #fff;
		float: left; 
		text-align: left;
	}
	
	.copyr li {
		display: block;
		float: left;
		border-left: 1px solid #fff;

	}
	
	.copyr a {
		color: #fff;
		transition: color .3s ease;
	}
	
	.copyr a:hover {
		color: #33cccc;
		transition: none;
	}
	
	/* ===== Comic ===== */

	.comic nav ul li.text {
		display: block;
		position: absolute;
		line-height: 56px;
		width: auto;
		background-color: transparent;
	}
	
	.comic nav ul li.text > a {
		color: #ed5c22;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 1.25em;
		
		padding: 0 40px;
	}

	.comic .bottom.row {
		padding: 20px 0;
	}
	
	.comic nav.bottom ul li.comments {
		left: 0;
		top: 0;
	}
	
	.comic nav.bottom ul li.share {
		right: 0;
		top: 0;
		margin-top: 0;
	}
	
	.comic nav.bottom ul li.text > a:hover {
		color: #336699;
	}
	
	.comic nav.bottom ul li.text > a:active {
		position: relative;
		top: 1px;
		left: 1px;
	}
	
	/* ===== Comic Share ===== */

	.comic .share { transition: none; }

	.comic .share.active, 
	.comic .share.active .btns li {
		background-color: transparent;	
	}
	
	.comic nav.bottom ul li.share.active {
		top: -20px;
	}

	.comic .share .btns {
		line-height: 1em;
		padding-bottom: 0;
		position: relative;
		top: -13px;
	}
	
	.comic .share .btns li {
		margin-left: 4px;
		line-height: 1em;
		background-color: transparent;
	}
	
	.comic .share .btns li:first-child {
		margin-left: 0;
	}
	
	.comic .share .btns a {
		width: 30px;
		height: 30px;
		background-size: 150px;
		border-radius: 20px;
	}
	
	.share a.tm  { background-color: #35465c; background-position: -27px -45px; }
	.share a.tt  { background-color: #26a4dc; background-position: -51px 3px; }
	.share a.fb  { background-color: #4d67a1; background-position: -27px 3px; }
	.share a.pi  { background-color: #C92228; background-position: -51px -45px; }
	.share a.rd  { background-color: #ff7f00; background-position: -75px -45px; }
	.share a.em  { background-color: #33cccc; background-position: -99px -45px; }

	.btn:hover, .social li > a:hover,
	.btns a:hover {
		opacity: .8;
	}
	
	/* ===== Main ===== */
	
	
	main {
		width: 1100px;
		display: block;
		margin: 0 auto;
	}
	
	
	/* ===== Blogroll ===== */
	
	.main-col {
		float: left;
		width: 580px;
	}
	
	.main-col article {
		font-size: 1em;
		line-height: 1.5em;
	}
		
    .main-col article h1.title {
        margin: 0 0 1em;
		font-size: 2em;
	}   
        
	.blogroll article h1.title {
		margin: 0 0 15px;
	}
	
	/* ===== Sidebar ===== */
	
	aside {
		display: block;
		width: 300px;
		float: right;
		border-radius: 0;
		margin: 40px 40px;
		padding: 20px;
	}
	
/* ===== Hover.css Classes ===== */
/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}
	
/* Radial Out */
	nav.page .main li a {
	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: translateZ(0);
	  transform: translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -moz-osx-font-smoothing: grayscale;
	  position: relative;
	  overflow: hidden;
	  background: #336699;
	  -webkit-transition-property: color;
	  transition-property: color;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	}
	nav.page .main li a:before {
	  content: "";
	  position: absolute;
	  z-index: -1;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: #ed5c22;
	  border-radius: 100%;
	  -webkit-transform: scale(0);
	  transform: scale(0);
	  -webkit-transition-property: transform;
	  transition-property: transform;
	  -webkit-transition-duration: 0.6s;
	  transition-duration: 0.6s;
	  -webkit-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;
	}

	nav.page .main li a:hover:before, nav.page .main li a:focus:before, nav.page .main li a:active:before {
	  -webkit-transform: scale(2);
	  transform: scale(2);
	  -webkit-transition-duration: 0s;
	  transition-duration: 0s;
	}

} /* eo min-width:1120px media query */


/* ===== Typography===== */


body,
button,
input,
select,
textarea {
	color: #444;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 700;
	margin: 1.5em 0;
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: 2em;
	line-height: 1.5em;
}

h2 {
	line-height: 1.5em;
}

p {
	margin: 0 0 1em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border: 0 solid #1a1a1a;
	border-left-width: 4px;
	color: #686868;
	font-size: 19px;
	font-size: 1.1875rem;
	font-style: italic;
	line-height: 1.4736842105;
	margin: 0 0 1.4736842105em;
	padding: 0 0 0 1.263157895em;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote p {
	margin-bottom: 1.4736842105em;
}

blockquote cite,
blockquote small {
	color: #1a1a1a;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

blockquote cite:before,
blockquote small:before {
	content: "\2014\00a0";
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

blockquote > :last-child {
	margin-bottom: 0;
}

address {
	font-style: italic;
	margin: 0 0 1.75em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: Inconsolata, monospace;
}

pre {
	border: 1px solid #d1d1d1;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.3125;
	margin: 0 0 1.75em;
	max-width: 100%;
	overflow: auto;
	padding: 1.75em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	background-color: #d1d1d1;
	padding: 0.125em 0.25em;
}

abbr,
acronym {
	border-bottom: 1px dotted #d1d1d1;
	cursor: help;
}

mark,
ins {
	background: #007acc;
	color: #fff;
	padding: 0.125em 0.25em;
	text-decoration: none;
}

big {
	font-size: 125%;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
